<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <title>MERCADO LIEBRE</title>

    <!-- En el momento el    content="width=devide-width    tiene un warning  -->
    <meta name="viewport" content="width=devide-width, initial-scale=1.0">

    <!-- Carnagndo Archivo propio de estilos -->
    <link rel="stylesheet" href="/css/styles.css">

    <!-- Cargando google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <!-- Cargando iconos-->
    <script src="https://kit.fontawesome.com/af3bfc9f43.js" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

</head>

<body>
    <header>
        <div class="top-header">
            <div  class="logo">
                <img src="/images/logo-mercado-liebre.svg" alt="Logo">
            </div>
        
            <div class="barraBuscar">
                <form>
                    <input type="text" placeholder="Buscar productos, marcas">
                    <div class="colocarDentroBuscar">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                </form>
            </div>

            <button class="formatoButton2">
                 <i class="fa-solid fa-hand-holding-dollar"></i>
                <div>Comprá en cuotas y sin tarjeta de crédito</div>               
            </button>
        </div>

        
        <nav>
            <!--    <ul class="formatoMenu">    -->
            <ul class="formatoMenu">
                
                <!-- Tratamiento de salto #c1 -->
                <div class="menu1">
                    <li> <a href="#c1">Ofertas</a> </li>
                    <li> <a href="#">Tiendas viertuales</a> </li>
                    <li> <a href="#">Vender</a> </li>
                    <li> <a href="#">Ayuda</a> </li>
                </div>
                <div class="menuEspacio"></div>
                <div class="menu2">
                    <li> <a href="/register">Creá tu cuenta</a> <i class="fa-solid fa-id-card"></i> </li>
                    <li> <a href="/login">Ingresá</a> <i class="fa-solid fa-right-to-bracket"></i> </li>
                    <li> <a href="#">Mis compras</a> <i class="fa-solid fa-basket-shopping"></i> </li>
                </div>
            </ul>
            <br>
            <br>
            
            <center>
                <button class="burger-Menu">
                    <i class="fa-solid fa-bars"></i>
                </button>
            </center>
        </nav>

        <section>
            <img class="imagenBanner" src="/images/img-home-banner.jpg" alt="Banner de Ofertas"
        </section>
        
    </header>


    <main>
        <section>
            <h3 class="titulares">Basado en tu última visita</h3>
        </section>

        <section class="box-1">

            <div class="box-2">
                <article class="contenedor-article">
                    <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera">
                    <div class="abajo">
                        <button class="formatoButton4">
                            <i class="fa-solid fa-truck"></i>
                        </button>                         
                            <p class="precios">$6.770 </p>
                            <p class="descuentos">40% off</p>
                            <p class="descripciones">Cafetera Moulinex</p>                       
                    </div>
                </article>
            </div>

            <div class="box-2">
                <article class="contenedor-article">
                    <img src="/images/img-macbook-pro-2019.jpg" alt="macbook">
                    <div class="abajo">
                        <button class="formatoButton4">
                            <i class="fa-solid fa-truck"></i>
                        </button> 
                            <p class="precios">$230.000</p>
                            <p class="descuentos">20% off</p>
                            <p class="descripciones">MacBook Pro 2019</p>
                    </div>
                </article>
            </div>

            <div class="box-2">
                <article class="contenedor-article">
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="samsung-galaxy">
                    <div class="abajo">
                        <button class="formatoButton4">
                            <i class="fa-solid fa-truck"></i>
                        </button> 
                            <p class="precios">$70.000</p>
                            <p class="descuentos">10% off</p>
                            <p class="descripciones">Samsung Galaxy S10</p>
                    </div>
                </article>
            </div>

            <div class="box-2">
                <article class="contenedor-article">
                    <img src="/images/img-tv-samsung-smart.jpg" alt="samsung-galaxy">
                    <div class="abajo">
                        <button class="formatoButton4">
                            <i class="fa-solid fa-truck"></i>
                        </button>
                            <p class="precios">$23.200</p>
                            <p class="descuentos">5% off</p>
                            <p class="descripciones">SmartTv Samsung 43"</p>
                    </div>
                </article>
            </div>
        </section>

        <!-- Para navegar en la misma hoja-->
        <div id="c1"></div>

        <section>
            <h3 class="titulares">Ofertas</h3>
        </section>

        <section class="box-1">

            <div class="box-2">
                <article class="contenedor-article">
                    <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera">
                    <div class="abajo">
                        <button class="formatoButton4">
                            <i class="fa-solid fa-truck"></i>
                        </button>
                            <p class="precios">$6.770</p>
                            <p class="descuentos">40% off</p>
                            <p class="descripciones">Cafetera Moulinex</p>
                    </div>
                </article>
            </div>

            <div class="box-2">
                <article class="contenedor-article">
                    <img src="/images/img-macbook-pro-2019.jpg" alt="macbook">
                    <div class="abajo">
                        <button class="formatoButton4">
                            <i class="fa-solid fa-truck"></i>
                        </button>
                            <p class="precios">$230.000</p>
                            <p class="descuentos">20% off</p>
                            <p class="descripciones">MacBook Pro 2019</p>
                    </div>
                </article>
            </div>

            <div class="box-2">
                <article class="contenedor-article">
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="samsung-galaxy">
                    <div class="abajo">
                        <button class="formatoButton4">
                            <i class="fa-solid fa-truck"></i>
                        </button>
                            <p class="precios">$70.000</p>
                            <p class="descuentos">10% off</p>
                            <p class="descripciones">Samsung Galaxy S10</p>
                    </div>
                </article>
            </div>

            <div class="box-2">
                <article class="contenedor-article">
                    <img src="/images/img-tv-samsung-smart.jpg" alt="samsung-galaxy">
                    <div class="abajo">
                        <button class="formatoButton4">
                            <i class="fa-solid fa-truck"></i>
                        </button>
                            <p class="precios">$23.200</p>
                            <p class="descuentos">5% off</p>
                            <p class="descripciones">SmartTv Samsung 43"</p>
                    </div>
                </article>
            </div>
        </section>


    </main>

    <footer>
        <section>
            <div class="footer-aviso">
                <p class="footer-icono">
                    <i class="fa-solid fa-credit-card"> </i>
                </p>
                <p>
                    <b>Pagá con tarjeta o en efectivo</b><br>
                    <span> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                        puntos de pago. ¡Y siempre es seguro!
                    </span>
                </p>
            </div>

            <div class="footer-aviso">
                <p class="footer-icono">
                    <i class="fa-solid fa-gift"></i>
                </p>
                <p>
                    <b>Envío gratis desde $ 2.500</b><br>
                    <span>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                        productos. Es un beneficio de Mercado Puntos.
                    </span>
                </p>
            </div>

            <div class="footer-aviso">
                <p class="footer-icono">
                    <i class="fa-solid fa-user-shield"></i>
                </p>
                <p>
                    <b>Seguridad, de principio a fin</b><br>
                    <span>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                        porque estás siempre protegid@.                
                    </span>
                </p>
            </div>
            
            <p class="footer-aviso">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            
        </section>
    </footer>

</body>

</html>