<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <title>MERCADO LIEBRE</title>

    <!-- En el momento el    content="width=devide-width    tiene un warning  -->
    <meta name="viewport" content="width=devide-width, initial-scale=1.0">

    <!-- Carnagndo Archivo propio de estilos -->
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/stylesf.css">

    <!-- Cargando google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <!-- Cargando iconos-->
    <script src="https://kit.fontawesome.com/af3bfc9f43.js" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

</head>

<body>

    <header>
        <console class="log">Pendiente copiar HEADER definitivo</console>
    </header>

    <!-- Formulario - Login -->
    <div class="form-formulario1">
        <form action="login.html" method="post">
            <p class="form-linea1">
                <input 
                    type="text" 
                    placeholder="Nombre de usuari@" 
                    name="nombreUsuario"
                    pattern="[a-z\d\.]{6,15}"
                    title="El Nombre de usuario no puede contener mayusculas ni caracteres especiales
                            / El Nombre de usuario recibe minio 6 hasta 15 caracteres"
                    id="username"
                    required
                    >
            </p>
            <p class="form-linea1">
                <input type="password" placeholder="Contraseña" name="password1" required>
            </p> <br>

            
            <button class="form-button-ingresar" type="submit">Enviar</button> <br><br>

            <button> <a href="/home">Regresar al home</a> </button>

        </form>
    </div>

    <footer>
        <console class="log">Pendiente copiar FOOTER definitivo</console>

    </footer>
 
</body>

</html>